:root {
    margin: 3%;
    tab-size: 4;
    
    --font-inter: "__inter_20b187", "__inter_Fallback_20b187";
    font-family: var(--font-inter), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings: "ss03", "cv02", "cv11";
    font-variation-settings: normal;
    font-synthesis: none;
    
    color-scheme: light dark;
    color: #dce6cf;
    background-color: #444444;
    
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;

    --deg: 1;
    --x: -50%;
    --y: -50%;
    scroll-behavior: smooth;
}

.mobile > main > #stacks > div > ul > li > p {
    display: none;
}

.mobile > main > #stacks > div > ul > li > img {

    filter: grayscale(0%);
}

#projects > table { 
    /* será analisado a responsividade para essa tabela futuramente */
    margin-top: 3%;
}

.mobile > * {
    display: inline;
    all: unset;
    font-size: large;
}

.mobile > * > * > h1 {
    text-align-last: left;
}

.mobile > * > * > img {
    display: none;
}

.mobile > nav {
    display: none;
} 

.mobile > header {
  all: unset;
}

.mobile > main > #contact > a > .letter-image {
    margin-top: 28%;
}
/* .selection {
    --tw-text-opacity: 1;
    color: rgb(#6eb40a/var(--tw-bg-opacity));
}

.selection:hover {
    --tw-text-opacity: 1;
    color: rgb(#6eb40a/var(--tw-bg-opacity));
} */

