.container {
    position: fixed;
    width: 38%;
}

.languageButtonUl {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.languageButtonUl > li > * {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border-image-repeat: stretch;
    box-sizing: border-box;
}

.contactsButtonUl {
    display: inline-flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.contactsButtonUl > li > * {
    list-style: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    filter: invert(0.80);
}

.contactsButtonUl > li > *:hover {
    filter: invert(43%) sepia(95%) saturate(403%) hue-rotate(43deg) brightness(115%) contrast(99%);
}

.container > a {
    color: inherit;
    text-decoration: inherit;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -.095em;
    width: 100%;
}





