.contactsButtonUl {
    margin: 0;
    padding: 0;
}

.languageButtonUl {
    margin: 0;
    padding: 0;
}

.languageButtonUl > li {
    display: inline-block;
    list-style: none;
}

.contactsButtonUl > li {
    display: inline-block;
    list-style: none;
}

.h1Header {
    display: flex;
    justify-content: space-between;  
}

