.projects > table {
    text-align: left;
    display: table;
    width: 100%;
    margin-bottom: 2%;
}

.project {
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px 5px #dce6cf;
}

.project > td {
    color: #dce6cf;
}

.project > td > a > img {
    filter: invert(0.8);
    width: 80%;
}

.project > td > ul {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 33%;
    list-style: none;
    list-style-position: inside;
    margin-left: 0;
    padding-left: 0;
    text-transform: capitalize;
}

.projectStack {
    padding: 3%;
    margin: 1%;
    border-radius: 9999px;
    box-sizing: border-box;
    background-color: #6eb40a;
}

#stacksTd {
    width: 30%;
}